<md-sidenav-layout class="app-root" fullscreen>
  <md-sidenav #start>

    <div class="user">
      <div class="avatar"><img src="https://www.gravatar.com/avatar/477389c44ffb21d82a4e05dd46f8aaa2" alt="avatar" width="50" height="50"></div>
      <div class="name">{{ name }}</div>
    </div>

    <md-nav-list>
      <a md-list-item *ngFor="let theme of themes">
        <md-icon class="md-24">{{ theme.icon }}</md-icon> {{ theme.name }}
      </a>
    </md-nav-list>

    <div class="social-links">
      <a md-list-item *ngFor="let link of socials" [href]="link.link" target="_blank" [title]="link.name">
        <md-icon class="md-24" fontSet="fa" [fontIcon]="link.icon"></md-icon>
      </a>
    </div>

  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="start.open()">
      <md-icon class="md-24" >menu</md-icon>
    </button>
    <div class="toolbar">
      <h1>{{ name }} - Under construction...</h1>

      <h1>
        <a href="https://github.com/davinkevin/" target="_blank">
          <md-icon class="md-24" fontSet="fa" fontIcon="fa-github"></md-icon>
        </a>
      </h1>
    </div>
  </md-toolbar>

</md-sidenav-layout>

<img src="images/cover.bubbles.jpg" alt="cover" width="100%" height="100%">
