md-sidenav-layout.app-root {
  md-sidenav {
    display: flex;
    flex-direction: column;
    min-width: 15%;
    justify-content : space-between;

    .user {
      flex : 5;
      background-image: url("images/material-design-background.jpg");
      background-size: cover;
      display: flex;
      flex-direction: column;

      div.avatar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex : 8  ;
        padding-left: 1em;

        img {
          background-color: white;
          border-radius: 50%;
        }
      }

      div.name {
        flex : 3;
        padding-left: 1em;
        color : white;
      }

    }

    md-nav-list {

      flex : 20;

      [md-button] {
        width: 100%;
        position: relative;
        bottom: 0;
        margin: 24px 0;
      }

      md-icon {
        padding-right: 8px;
      }
    }

    .social-links {
      flex : 1;
      display: flex;
      flex-direction: row;
      justify-content : space-around;
      md-icon {
        font-size: x-large;
        text-decoration: none;
        color : black;
      }
    }
  }

  md-toolbar {
    md-icon {
      font-size: x-large;
      cursor: pointer;
    }

    .toolbar {
      display: flex;
      justify-content: space-between;
      width: 100%;

      h1 {
        font-size: 20px;
        a {
          text-decoration: none;
          color : white;
        }
      }

    }
  }


}
